<main>
    <div class="container top-50px">
        <div class="row">
            {{!-- <a href="/categorias" class="btn btn-large waves-effect orange darken-3">
                <i class="fas fa-arrow-left"></i>
            </a> --}}
            <a href="/admin/cadastroProd" class="btn btn-large waves-effect orange darken-3">
                <i class="fas fa-plus"></i>
                Produto
            </a>
        </div>
        <div class="row">
            {{#each produtos}}

            <div class="col s10 m5 l4 push-s1 push-m1">
                <div class="card card-prod">
                    <div class="card-image waves-effect waves-block waves-light">
                        <img class="activator" src="../img/produtos/eletrecidade3.png">
                    </div>
                    <div class="card-content">
                        <h4 class="card-title activator">
                            <a class="btn-floating btn red r-45deg right" href="/deletarProd/{{id}}">
                                <i class="fas fa-plus"></i>
                            </a>
                            {{nome}}
                        </h4>
                    </div>
                    <div class="card-btn">
                        <a class="btn green waves-effect" style="width: 100%">Adicionar ao Carrinho</a>
                    </div>

                    <div class="card-reveal">
                        <span class="card-title">
                            {{nome}}
                            <i class="uping fas fa-angle-down right"></i>
                        </span>
                        <br> <br>
                        <p>
                            <span class="preco green-text">{{preco}}Kz</span>
                        </p>

                        <p>
                            {{descricao}}
                        </p>
                    </div>
                </div>
            </div>
            {{/each}}

        </div>

    </div>

</main>

{{!-- <div class="fixed-action-btn" style="bottom: 80vh; left: 1vh">
    <a href="/categorias" class="btn-floating red">
        <i class="fas fa-arrow-left"></i>
    </a>
</div> --}}